@font-face{
    font-family:Oxygen;
    src:url('../Fonts/Oxygen-Light.ttf');
}
/* VARIABLES */
$black:#141414;

*{
    padding:0;
    margin:0;
    font-family:Oxygen;
    line-height:1.6em;
}
.app-main{
    width:100%;
    height:100vh;

    /* GRID */
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows:40% 80% 10%;

    @import './navbar.scss';
    @import './footer.scss';
    @import './home.scss';
    @import './book.scss';
}