.hidden{
    display:none;
}
.book-main{
    animation:transitionIn 0.75s;
    background-image:url('../Images/overlay.png');
    background-size:auto;
    padding:50px 0px;
    /* GRID FROM APP */
    grid-column:1/2;
    grid-row:2/3;
    .book-container{
        width:70%;
        margin:auto;
        height:100%;
        display:flex;
        flex-direction:column;
        row-gap:20px;
        .register-form{
            width:400px;
            display:flex;
            flex-direction:column;
            row-gap:30px;
            input[type=text]{
                border-radius:20px;
                padding:10px;
                border:1px solid $black;
                font-size:15px;
                outline:none;
            }
            .gender{
                display:flex;
                align-items:center;
                column-gap:20px;
                p{
                    font-size:18px;
                }
                input[type=radio]{
                    transform:scale(1.5);
                }
            }
            .covid-form{
                display:flex;
                flex-direction:column;
                row-gap:20px;
                .question{
                    display:flex;
                    flex-direction:column;
                    row-gap:10px;
                    .q1{
                        display:flex;
                        align-items:center;
                        column-gap:20px;
                        input[type=radio]{
                            transform:scale(1.5);
                        }
                    }
                }
            }
            .modal{
                position:fixed;
                z-index:1;
                left:0;
                top:0;
                height:100%;
                width:100%;
                background-color:rgba(0, 0, 0, 0.5);
                .modal-content{
                    animation:modalOpen 1s;
                    background-color:#f4f4f4;
                    margin:20% auto;
                    padding:20px;
                    width:40%;
                    box-shadow:0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
                    .closeBtn{
                        color:#ccc;
                        font-size:30px;
                        float:right;
                    }
                    .closeBtn:hover{
                        color:$black;
                        cursor:pointer;
                    }
                    .submitBtn{
                        background-color:#121212;
                        color:white;
                        border-radius:10px;
                        padding:5px 10px;
                        outline:none;
                        cursor:pointer;
                    }
                }
            }
        }
        }
        .button{
            button{
                background:$black;
                color:white;
                padding:10px 30px;
                border:none;
                border-radius:10px;
                font-size:15px;
            }
        }
    }
    @keyframes transitionIn{
        from{
            opacity:0;
            transform:translateX(-10deg);
        }
    
        to{
            opacity:1;
            transform:translateX(0);
        }
    }
    @keyframes modalOpen{
        from{
            opacity:0
        }
    
        to{
            opacity:1;
        }
    }